{% extends 'base.html' %}
{% block title %}
About
{% endblock title %}

{% block content %}
<!-- start page-title -->
<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <h2>About us</h2>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>        
<!-- end page-title -->



<!-- start about-us-section -->
<section class="about-us-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-md-6">
                <div class="section-title">
                    <span>About us</span>
                    <h2>Jay Prakash Bind</h2>
                </div>
                <div class="details">
                    <p>I am an aspiring machine learning, deep learning enthusiast who is fascinated to automate this world. Recently I got rank 1 in a data science challenge and won a mac book air as prize.  I recently worked as a data science intern at the Ineuron Intelligence where I worked on several projects like automated car parking detection system, automated ml project where I have to automate all the pipeline of the machine learning projects. Previously, I have worked as a web development intern at 2 organizations TRPWS and Legal Desires. I have also worked at IIT Madras, IIT Bombay, BITS Pilani as campus ambassador. While working on these projects, I have made myself adept. In various python packages like Pandas, NumPy, Scikit-Learn, TensorFlow, Keras, OpenCV and many more. </p><br>
                    <div class="btns">
                        <a href="#" class="theme-btn">Our Services</a>
                        <a href="#" class="theme-btn-s3">Contact with us</a>
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="right-col">
                    <div class="img-holder">
                        <img src="../static/Design/assets/images/about.jpeg" alt>
                    </div>
                    
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end about-us-section -->

{% endblock content %}

