{% extends 'base.html' %}
{% block title %}
Home
{% endblock title %}

{% block content %}
<!-- start of hero -->
<section class="hero-slider hero-style-1">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slide-inner slide-bg-image" data-background="./static/Design/assets/images/slider/slide-2.avif">
                    <div class="container">
                        <div data-swiper-parallax="300" class="slide-title">
                            <h2>Stock Market Analysis</h2>
                        </div>
                        <div data-swiper-parallax="400" class="slide-text">
                            <p>A stock market, equity market, or share market is a gathering of buyers and sellers of stocks
                                (also known as shares), which represent ownership claims on businesses; these may include
                                securities listed on a public stock exchange as well as stock that is only traded privately, such
                                as shares of private companies sold to investors through equity crowdfunding platforms.
                                Typically, investments are undertaken with an investment strategy in mind.</p>
                        </div>
                        <div class="clearfix"></div>
                        <div data-swiper-parallax="500" class="slide-btns">
                            <a href="/dashboard" class="theme-btn">Dashboard</a> 
                            <a href="/about" class="theme-btn-s2">More about us</a> 
                        </div>
                    </div>
                </div> <!-- end slide-inner --> 
            </div> <!-- end swiper-slide -->

            <div class="swiper-slide">
                <div class="slide-inner slide-bg-image" data-background="../static/Design/assets/images/slider/slide-1.avif">
                    <div class="container">
                        <div data-swiper-parallax="300" class="slide-title">
                            <h2>Stock Market Analysis</h2>
                        </div>
                        <div data-swiper-parallax="400" class="slide-text">
                            <p>A stock market, equity market, or share market is a gathering of buyers and sellers of stocks
                                (also known as shares), which represent ownership claims on businesses; these may include
                                securities listed on a public stock exchange as well as stock that is only traded privately, such
                                as shares of private companies sold to investors through equity crowdfunding platforms.
                                Typically, investments are undertaken with an investment strategy in mind.</p>
                        </div>
                        <div class="clearfix"></div>
                        <div data-swiper-parallax="500" class="slide-btns">
                            <a href="/dashboard" class="theme-btn">Dashboard</a> 
                            <a href="/about" class="theme-btn-s2">More about us</a> 
                        </div>
                    </div>
                </div> <!-- end slide-inner --> 
            </div> <!-- end swiper-slide -->
        </div>
        <!-- end swiper-wrapper -->

        <!-- swipper controls -->
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>
<!-- end of hero slider -->


<!-- start about-us-section -->
<section class="about-us-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-md-6">
                <div class="section-title">
                    <span>About Project</span>
                    <h2>Stock Market Analysis</h2>
                </div>
                <div class="details">
                    <p>A stock market, equity market, or share market is a gathering of buyers and sellers of stocks
                        (also known as shares), which represent ownership claims on businesses; these may include
                        securities listed on a public stock exchange as well as stock that is only traded privately, such
                        as shares of private companies sold to investors through equity crowdfunding platforms.
                        Typically, investments are undertaken with an investment strategy in mind.
                        The National Stock Exchange of India Ltd.'s main index is the NIFTY 50. (NSE). The Index
                        follows the performance of a basket of blue-chip businesses, India's largest and most liquid
                        equities. It contains 50 of the nearly 1600 businesses listed on the NSE, accounts for
                        approximately 65 percent of its float-adjusted market value, and is an accurate representation
                        of the Indian stock market.
                        The NIFTY 50 index encompasses significant sectors of the Indian economy and provides
                        investment managers with exposure to the Indian market through a single, efficient portfolio.
                        The Index has been in operation since April 1996 and is ideal for benchmarking, index funds,
                        and index-based derivatives.
                        India Index Services and Products Ltd owns and manages the NIFTY 50. (IISL). IISL is India's first
                        specialized corporation with an index as its primary product.</p>
                    <!-- <div class="btns">
                        <a href="#" class="theme-btn">Our Services</a>
                        <a href="#" class="theme-btn-s3">Contact with us</a>
                    </div> -->
                </div>
            </div>
            <div class="col col-md-6">
                <div class="right-col">
                    <div class="img-holder">
                        <img src="../static/Design/assets/images/stock2.avif" alt>
                    </div>
                    
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end about-us-section -->







<!-- start testimonials-section -->
<section class="testimonials-section">
    <div class="container">
        <div class="row">
            <div class="col col-lg-6 col-lg-offset-3">
                <div class="section-title-s4">
                    <span>Testimonials</span>
                    <h2>What People say’s About us</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-4">
                <div class="testimonial-left-img-holder">
                    <img src="../static/Design/assets/images/testimonials/man.png" alt>
                </div>
            </div>
            <div class="col col-md-8">
                <div class="testimonial-grids testimonial-slider clearfix">
                    <div class="grid">
                        <div class="quote">
                            <i class="fi flaticon-quote"></i>
                            <p>“I am more than please with the help I have received for the project. I would highly recommend the project to other student. Thanks for a great project”</p>
                        </div>
                        <div class="client-info">
                            <div class="img-holder">
                                <img src="../static/Design/assets/images/testimonials/img-1.jpg" alt>
                            </div>
                            <div class="details">
                                <h5>Jay Prakash Bind</h5>
                                <p>Data Science Enthusiast</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="quote">
                            <i class="fi flaticon-quote"></i>
                            <p>“I am more than please with the help I have received for the project. I would highly recommend the project to other student. Thanks for a great project ”</p>
                        </div>
                        <div class="client-info">
                            <div class="img-holder">
                                <img src="../static/Design/assets/images/testimonials/img-2.jpg" alt>
                            </div>
                            <div class="details">
                                <h5>Jay Prakash Bind</h5>
                                <p>Data Science Enthusiast</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="quote">
                            <i class="fi flaticon-quote"></i>
                            <p>“I am more than please with the help I have received for the project. I would highly recommend the project to other student. Thanks for a great project”</p>
                        </div>
                        <div class="client-info">
                            <div class="img-holder">
                                <img src="../static/Design/assets/images/testimonials/img-3.jpg" alt>
                            </div>
                            <div class="details">
                                <h5>Jay Prakash Bind</h5>
                                <p>Data Science Enthusiast</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end testimonials-section -->

<!-- start cta-section -->
<section class="cta-section">
    <div class="container">
        <div class="row">
            <div class="col col-lg-6 col-md-6">
                <div class="cta-text">
                    <h3>Lets Get in Touch!</h3>
                    <p>A stock market, equity market, or share market is a gathering of buyers and sellers of stocks
                        (also known as shares), which represent ownership claims on businesses; these may include
                        securities listed on a public stock exchange as well as stock that is only traded privately, such
                        as shares of private companies sold to investors through equity crowdfunding platforms.
                        Typically, investments are undertaken with an investment strategy in mind.</p>
                </div>
            </div>
            <div class="col col-lg-5 col-lg-offset-1 col-md-6">
                <div class="contact-info">
                    <div>
                        <i class="fi flaticon-call"></i>
                        <h4>Call us</h4>
                        <p>+918887624847</p>
                    </div>
                    <div>
                        <i class="fi flaticon-contact"></i>
                        <h4>Email us</h4>
                        <p>jaypr202@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end cta-section -->
{% endblock content %}

